.tablepress thead th {
	background-color: #cfa968;
	border: 1px solid #c8c8c8;
	color: #f7f7f7;
	font-size: 18px;
	text-align: center;
	vertical-align: middle;
}

.tablepress tbody td {
	border: 1px solid #c8c8c8;
	text-align: center;
	vertical-align: middle;
	direction: rtl;
}

.tablepress tfoot th {
	background-color: #a2a2a2;
	border: 1px solid #c8c8c8;
	color: #f7f7f7;
	font-size: 18px;
	text-align: center;
	vertical-align: middle;
}